
body {
	margin: 0px;
	padding: 0px;
	color: #666;	
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	
	font-size: 16px;	
	line-height: 2;		
	background: #fff;	
}

a {
	color: #666;		
	transition: 0.2s;	
}
.inner {
	max-width: 1400px;	
	margin: 0 auto;
}


.header {
	height: 80px;	
	border-bottom: 1px solid ;	
}
//main
.header  {
	float: left;	
	width: 1000px;	
	padding-top: 200px;	
	height: auto;	
	text-align: center;
	padding: 5px 0;
}

.c1  {
	float: none;
	width: auto;
}


.footer {
	clear: both;
	font-size: 12px;		
	background: #666;	
	color: #fff;	
	text-align: center;
}
.footer a {color: #fff;}


#copyright {
	clear: both;
	text-align: center;
	background: #333;	
}



